<h3>What is up yo? Here is all dem flights!</h3>

<% @flights.each do |flight| %>
  <li>
    <%= flight.id %>
    <%= flight.origin_code %>
    <%= flight.destination_code %>
    <%= flight.hours %> hours
    <%= flight.minutes %> minutes
    Departure Time: <%= flight.departure_date_time %>
  </li>
<% end %>