<h3>What is up yo? Where you want to go???</h3>




<%= form_tag root_path, method: "get" do %>
  <p>
    <%= hidden_field_tag :search %>

    From: <%= select_tag :from, options_for_select(@airport_codes, params[:from] ) %>

    To: <%= select_tag :to, options_for_select(@airport_codes, params[:to]) %>

    Number of passengers: <%= select_tag :num_passengers, options_for_select(@num_passengers, params[:num_passengers]) %>



    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

