

<%= render 'search' %>

<!-- debug stuff

<br><hr>
search params : <%= params %>
<br><hr> -->



<% if params[:search] && !@flights.empty? %>

  <%= form_tag new_booking_path, method: "get" do %>

  <div class="container">

    <div><%= submit_tag "Select this flight", name: nil %></div><br>
    <%= render @flights %>
    <%= hidden_field_tag :num_passengers, params[:num_passengers] %>


  </div>

  <% end %>

<% end %>






