<h3>What is up yo? Here is all dem airports!</h3>

<% @airports.each do |airport| %>
  <li>
    <%= airport.id %>
    <%= airport.airport_code %>
    <%= airport.airport_name %>

  </li>
<% end %>



<%= form_tag(airports_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search airports" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>