<h1> Enter passenger info for this flight: </h1>
<br><br>

<h3>
  <%= render 'flights/flight_detail' %>
</h3><br><br>

<%= form_for @passenger do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <br><br>

    <%= f.hidden_field :flight_id, :value => params[:flight_id] %>

      <%= f.submit "Create my passenger"%>


  </ul>

<% end %>