<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
        <h1>Thanks for booking a flight with us!, <%= @passenger.name %></h1>
    <p>
      You have successsfully booked a flight from
      <%= @booking.flight.origin_airport.airport_name %>
      to
      <%= @booking.flight.destination_airport.airport_name %>
       on
       <%= @booking.flight.departure_date_time %> for
        <%= @booking.passengers.count %> passenger(s)
    </p>
  </body>

</html>